@charset "UTF-8";

section#local {
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    width: 70%;
    border-radius: 8px;
}

section#local iframe {
    margin-bottom: 20px;
    width: 100%;
}

section#local h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

section#local p {
    padding: 5px;
    margin-left: 10px;
}