@charset "UTF-8";

@media screen and (max-width: 1100px) and (min-width: 700px){
    section#fotos img {
        width: 40%;
    }
} 

@media screen and (max-width: 863px) {
    footer p {
        display: none;
    }

    section#contato {
        margin: 0px;
        display: inline;
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    div#cabeçalho {
        padding-right: 50px;
        padding-left: 50px;
    }

    span#burguer {
        display: block;
    }

    menu#itens {
        margin-top: 40px;
        margin-right: -25px;
    }

    menu#itens li{
        display: block;
        background-color: #E2FCEF;
        padding: 10px;
    }

    section h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 550px) {

    div#inicio h1 {
        font-size: 6em;
    }

    div#inicio p {
        font-size: .7em;
        right: 20px;
        bottom: 2px;
    }

    section img {
        width: 80%;
    }

    section#sobre img {
        width: 80%;
    }

    section#sobre h2 {
        font-size: 2em;
    }

    div.texto {
        width: 80%;
    }

    div.texto p {
        font-size: 1.2em;
        line-height: 1.4em;
    }
}
