@charset "UTF-8";

/* yoguisi */

@media screen and (max-height:700px) {
    header#principal {
        height: 70vh;
    }
}

@media screen and (max-width: 1100px) and (min-width: 700px){
    section#fotos img {
        width: 40%;
    }
} 

@media screen and (max-width: 863px) {
    footer p {
        display: none;
    }

    section#contato {
        margin: 0px;
        display: inline;
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    div#cabeçalho {
        padding-right: 30px;
        padding-left: 30px;
    }

    span#burguer {
        display: block;
    }

    menu#itens {
        display: none;
        margin-top: 40px;
        margin-right: -25px;
    }

    menu#itens a {
        font-size: 1em;
    }

    menu#itens li{
        display: block;
        background-color: #E2FCEF;
        padding: 3px;
    }

    section#sobre h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px) {
    div#inicio h1 {
        font-size: 4.5em;
    }

    section img {
        width: 80%;
    }

    section#sobre img {
        width: 80%;
    }

    div.texto {
        width: 80%;
    }

    div.texto p {
        font-size: 1.2em;
        line-height: 1.4em;
    }
}

@media screen and (max-width: 355px) {
    menu#itens {
        display: none;
        margin-top: 10px;
        margin-right: -20px;
    }
}

/* informações */

@media screen and (max-width: 350px) {
    iframe {
        height: 300px;
    }

    section#local {
        padding: 5px;
    }

    section#local h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 300px) {
    iframe {
        height: 300px;
    }
}

@media screen and (max-height: 650px) {
    iframe {
        height: 300px;
    }
}
