@charset "UTF-8";

@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    
    --cor00: #273B54;
    --cor01: #626C73;
    --cor02: #86C7F4;
    --cor03: #CEE3F2;
    --cor04: #3F5D73;
    --cor05: #A3B3BF;

    --fontpadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: 'Bebas Neue', cursive;
    --fontandroid: 'Android', cursive;
} 

body {
    font-family:var(--fontpadrao);
    background-color: var(--cor03);
}

header {
    text-align: center;
    padding: 30px;
    background-color: var(--cor00);
}

header > p {
    padding-top: 20px;
    color: white;
    font-size: 1.2em;
}

header > h1 {
    font-family: var(--fontandroid);
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
}

nav {
    text-align: center;
    background-color: var(--cor05);
    padding: 10px;
    margin: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.301);
}

nav a {
    text-decoration: none;
    color: var(--cor00);
    padding: 10.5px;
    font-family: var(--fontpadrao);
    font-weight: bolder;
    font-size: 1.1em;
    
}

nav a:hover {
    background-color: var(--cor03);
}

main {
    min-width: 300px;
    max-width: 1000px;
    display: block;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.315);
}

main h1 {
    font-family: var(--fontandroid);
    color: var(--cor04);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.116);
    text-align: left;
    padding: 30px 20px 0px 20px;
    text-indent: 10px;
}

main h2 {
    background-image: linear-gradient(to right,#273b54bd, transparent);
    text-align: left;
    text-indent: 30px;
    color: white;
    font-family: var(--fontdestaque);
    font-size: 2em;
    font-weight: 300;
}

main p {
    padding: 10px;
    text-indent: 30px;
    text-align: justify;
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px;
}

main img {
    width: 100%;
}

main a {
    text-decoration: none;
    background-color: #273b54bd;
    color: white;
    padding: 1px;
}

main a:hover {
    text-decoration: underline;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor03);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 40px 40px 40px 40px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\00A0\00A0';
}

aside h3 {
    background-color: var(--cor00);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fontpadrao);
}

div.video {
    background-color: var(--cor00);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 54.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: var(--cor00);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor03);