@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sora';
    color: #170F11;
}

main {
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*-----------HEADER----------*/

header {
    height: 50px;
    background-color: #ffffff;
}

menu#social {
    float: right;
}

menu#social li {
    display: inline-block;
    padding-right: 10px;
}

menu#social img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.300);
    box-sizing: border-box; 
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

menu#social img:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.300);
    transform: translate(-1px, -1px);
    transition: transform .5s, border .5s;
}

div#cabeçalho {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

div#cabeçalho h1 {
    font-size: 1.3em;
    float: left;
    padding-right: 25px;
    padding-top: 2px;
}

span#burguer {
    display: none;
    float: left;
    padding-top: 4px;
}

span#burguer:hover {
    cursor: pointer;
}

menu#itens {
    display: block;
    text-align: center;
    padding-top: 3px;
    float: left;
}

menu#itens li {
    display: inline-block;
    padding-left: 25px;
    background-color: white;
}

menu#itens a {
    text-decoration: none;
    font-size: 1.2em;
}

/*-----------FOOTER----------*/

footer {
    background-color: #48A3BD;
    height: 50px;
}

footer p {
    color: #E2FCEF;
    font-size: 1.2em;
    text-align: center;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: #E2FCEF;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}