@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sora';
    color: #170F11;
}

/* header */

header {
    height: 50px;
    background-color: #a6acd6;
    margin-bottom: 60px;
}

menu#social {
    float: right;
}

menu#social li {
    display: inline-block;
    padding-right: 10px;
}

menu#social img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.300);
    box-sizing: border-box; 
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

menu#social img:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.300);
    transform: translate(-1px, -1px);
    transition: transform .5s, border .5s;
}

div#cabeçalho {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

div#cabeçalho h1 {
    font-size: 1.3em;
    color: white;
    float: left;
    padding-right: 25px;
    padding-top: 2px;
}

span#burguer {
    display: none;
    float: left;
    padding-top: 4px;
    color: white;
}

span#burguer:hover {
    cursor: pointer;
}

menu#itens {
    display: block;
    text-align: center;
    padding-top: 3px;
    float: left;
}

menu#itens li {
    display: inline-block;
    padding-left: 25px;
    background-color: #a6acd6;
}

menu#itens a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

/* section fotos */

section#fotos {
    text-align: center;
}

section#fotos img {
    margin: 20px;
    border-radius: 8px;
}

/* section sobre */

section#sobre {
    text-align: center;
}

section#sobre div {
    padding: 30px;
}

section#sobre img {
    display: inline-block;
    background-image: url(../imagens/perfil.jpg);
    background-size: cover;
    background-position: center;
    width: 400px; 
    border-radius: 8px;
}

section#sobre h1 {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #a6acd6;
    padding: 20px;
    color: #E2FCEF;
}

div.texto {
    display: inline-block;
    width: 400px;
}

div.texto p {
    font-size: 1.4em;
    font-weight: 300;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

div p.data {
    padding: 10px;
    font-size: 1.2em;
    text-align: right;
    color: rgb(63, 63, 63);
}

/* footer */

footer {
    background-color: #48A3BD;
    margin-top: 60px;
    height: 50px;
}

footer p {
    color: #E2FCEF;
    font-size: 1.2em;
    text-align: center;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: #E2FCEF;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}